# MongoDB Configuration
MONGODB_USERNAME=v-69c1695a1e75024408774082_58350-ldp-preprod_write-hhP4lkB4
MONGODB_PASSWORD=u2A1ZZ-gAV6MhOOVpmJx
MONGODB_CLUSTER=58350-ldp-preprod-psc-0.uieemf.mongodb.net
MONGODB_DATABASE=PCC_IEPC

# Azure AD
AZURE_AD_CLIENT_ID=AZURE_AD_CLIENT_ID
AZURE_AD_TENANT_ID=AZURE_AD_TENANT_ID
AZURE_AD_CLIENT_SECRET=AZURE_AD_CLIENT_SECRET
SHAREPOINT_SITE_ID=SHAREPOINT_SITE_ID

# Next Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=escribe_aqui_cualquier_texto_largo_y_aleatorio_para_encriptar_cookies

# Proxy corporativo de Ford para que Next.js pueda salir a internet
HTTP_PROXY=http://internet.ford.com:83
HTTPS_PROXY=http://internet.ford.com:83
NO_PROXY=localhost,.ford.com,127.0.0.1,10.96.0.0

# Desactivar temporalmente la verificación estricta de SSL 
# (Los proxies corporativos suelen interceptar el tráfico y Node.js los rechaza)
NODE_TLS_REJECT_UNAUTHORIZED=0

#####################################################################
DOCKER_REGISTRY=us-central1-docker.pkg.dev
GCP_PROJECT_ID=GCP_PROJECT_ID
GCP_REGION=us-central1
GCP_SERVICE_ACCOUNT=GCP_SERVICE_ACCOUNT

ARTIFACT_REGISTRY_REPO=ARTIFACT_REGISTRY_REPO
ARTIFACT_REGISTRY_DESCRIPTION=ARTIFACT_REGISTRY_DESCRIPTION

IMAGE_NAME=IMAGE_NAME
IMAGE_TAG=IMAGE_TAG

CLOUD_RUN_SERVICE=CLOUD_RUN_SERVICE
CLOUD_RUN_MEMORY=2Gi
CLOUD_RUN_CPU=4
CONTAINER_PORT=8085
CLOUD_RUN_INGRESS=internal
CLOUD_RUN_VPC_EGRESS=all-traffic
GCP_VPC_CONNECTOR=projects/prj-pp-gen-preprod-net-acc7/locations/us-central1/connectors/preprod-gen-central1
CLOUD_RUN_TIMEOUT=300

# make gcloud-login
# make gcloud-adc-login
# make gcloud-impersonate
# make podman-login
# make gcloud-login
# make gcloud-adc-login
# make gcloud-impersonate
# make podman-login
